@media print {

	body {
		margin: 0;
		padding: 0;
	}

}

@page {
	size: 21cm 29.7cm;
    margin: 1cm;
    padding: 0;
}

@page:first {
	@top-right {
    	content: '' !important; 
  	}
}


body {
	font-family: 'Times New Roman';
	font-size: 9pt;
	color: #000;	
}

small {
	font-size: 7pt;
}

table {
	border-width: 0;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
	page-break-inside:auto;
}

tr {
	page-break-inside:avoid; 
	page-break-after:auto;
}

.avoid-line-break {
	page-break-inside:avoid;	
}

.page-break {
	page-break-before: always;
}

td {
	padding:5pt;
	border: 1pt solid #000;
}

/* td:last-child { */
/* 	border-right: 0; */
/* } */

/* td:FIRST-CHILD { */
/* 	border-left: 0; */
/* } */

p {
	padding: 3pt;
}

.text-bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.text-top {
	vertical-align: top !important;
}

.no-border-top {
	border-top: 0;
}

.table-odd tr, .table-odd tr td, .row-odd, .row-odd td {
	background-color: #EBEBEB;	
}

.td-width-gab {
	width: 3.3cm; 
}

.td-width-saram {
	width: 1.0cm;
}

.table-header, .table-header td {
	color: #000;
	font-weight:bold;
	background-color: #FFF;
}

/* VERTICAL GAPS */
/* HORIZONTAL GAPS */
/* MARGINS */

.vgap-5 {
	height: 5px;
}

.vgap-10 {
	height: 10px;
}

.vgap-15 {
	height: 15px;
}

.vgap-20 {
	height: 20px;
}

.vgap-30 {
	height: 30px;
}

.vgap-50 {
	height: 50px;
}

.vgap-100 {
	height: 100px;
}

.margin-l-10 {
	margin-left: 10px;
}

.margin-l-20 {
	margin-left: 20px;
}

.margin-l-30 {
	margin-left: 30px;
}

.margin-r-10 {
	margin-left: 10px;
}

.margin-r-20 {
	margin-left: 20px;
}

.margin-r-30 {
	margin-left: 30px;
}

table.procedimentos-ar {
  border: 1pt solid #000;
}

table.procedimentos-ar tr td {
  border: 0;
}

table.procedimentos-ar tr:first-child td {
  border: 1pt solid #000;
}

